<% if user_signed_in? %>
  <% if current_user.already_favorites?(article) %>
    <%= link_to article_favorites_path(article), remote: true, method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %> <%# link_to article_favorites_path(article) %>

  <% else %>
    <%= link_to article_favorites_path(article), remote: true, method: :post do %>
      <i class="far fa-heart"></i>
    <% end %> <%# link_to article_favorites_path(article) %>

  <% end %> <%# current_user.already_favorites?(article) %>

<% else %>
  <i class='far fa-heart'></i>
<% end %> <%# user_sign_in?  %>
<span class="ml-2"><%= article.favorites.count %></span>